<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title th:text="${title}"></title>
    <div th:replace="~{fragments/head}"></div>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments/sidebar}"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form action="/author/create" method="post" th:object="${authorCreateDto}">
                        <div class="row">
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'firstName', label = 'Имя', type='text', required = 'true'
                                )}"></div>
                            </div>
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'firstNameEn', label = 'Имя на английском', type='text', required = 'true'
                                )}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'lastName', label = 'Фамилия', type='text', required = 'true'
                                )}"></div>
                            </div>
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'lastNameEn', label = 'Фамилия на английском', type='text', required = 'true'
                                )}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'middleName', label = 'Отчество', type='text', required = 'true'
                                )}"></div>
                            </div>
                            <div class="col-md-6">
                                <div th:replace="~{fragments/form/_inputText.html :: formField(
                                    field = 'middleNameEn', label = 'Отчество на английском', type='text', required = 'true'
                                )}"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>

        </main>
    </div>
</div>
<div th:replace="~{fragments/beforeEndBody}"></div>
</body>
</html>
