<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title th:text="${title}"></title>
    <div th:replace="~{fragments/head}"></div>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments/sidebar}"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <form action="/panel/user/login" method="post">
                        <div class="form-group ">
                            <label for="email">Email</label>
                            <input id="email" class="form-control" type="email" name="username" required>
                        </div>

                        <div class="form-group ">
                            <label for="password"> Пароль</label>
                            <input id="password" class="form-control" type="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Попытаться войти</button>
                    </form>
                </div>
            </div>

        </main>
    </div>
</div>
<div th:replace="~{fragments/beforeEndBody}"></div>
</body>
</html>
