<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title th:text="${title}"></title>
    <div th:replace="~{fragments/head}"></div>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments/sidebar}"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
            </div>

            <div class="media pt-3" th:each="publication, rowStat: ${publicationsList}">
                <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <a href="#" th:href="|/publication/view/${publication.id}|"><strong class="text-gray-dark"
                                                                                            th:text="${publication.title}">Title</strong></a>
                    </div>
                    <span class="d-block" th:text="${publication.authors}">authors</span>
                </div>
            </div>

            <div th:replace="~{fragments/pagination :: dataBind(totalPages = ${publications.totalPages}, currentNumber = ${publications.number}, baseUrl = '/publication/')}"></div>
        </main>
    </div>
</div>
<div th:replace="~{fragments/beforeEndBody}"></div>
</body>
</html>
