<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title th:text="${title}"></title>
    <div th:replace="~{fragments/head}"></div>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments/sidebar}"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${title}"></h1>
                <div class="pull-right">
                    <a href="/publication/create" class="btn btn-primary">Добавить</a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Авторы</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col" class="text-right" width="100">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="publication, rowStat: ${publicationsList}">
                    <th scope="row" th:text="${publication.id}">count</th>
                    <td th:text="${publication.title}">title</td>
                    <td th:text="${publication.authors}">authors</td>
                    <td>10.01.2019</td>
                    <td class="btn-group">
                        <a th:href="@{/publication/update/{id}(id=${publication.id})}" href="#"
                           class="btn btn-sm btn-primary">Отредактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragments/pagination :: dataBind(totalPages = ${publications.totalPages}, currentNumber = ${publications.number}, baseUrl = '/publication/')}"></div>
        </main>
    </div>
</div>
<div th:replace="~{fragments/beforeEndBody}"></div>
</body>
</html>
